@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden; 
    height: 130vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.6s ease;
    padding: 10px 5%;
    z-index: 9999999;
}

header.sticky{
    padding: 0 5%;
    background: rgba(0, 0, 0, 0.5);
}

header .logo{
    font-size: 2.2em;
    transition: 0.6s;
}

header .logo a{
    text-decoration: none;
    color: #eeeeee;
}

header ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-left: 5%;
}

header ul li{
    list-style: none;
    position: relative;
}

header ul li a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.3s;
    color: #eeeeee;
}

header ul li a:hover{
    color: #86c2f0;
}

header ul .fas{
    padding: 14px;
    font-size: 1.2em;
    color: #eeeeee;
}

header.sticky .logo,
header.sticky .logo a,
header.sticky ul li a,
header.sticky ul .fas{
    color: white;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

@media (max-width: 1115px){
    header ul{
        width: 60%;
        padding-left: 4%;
    }
}

@media (max-width: 725px){
    header ul{
        width: 70%;
        padding-left: 2%;
    }

    header ul li a{
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: 500px;
    }

    header{
        padding: 10px 2%;
    }
}

.picture{
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    right: 3vw;
    cursor: pointer;
    
}

.profileTab{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    right: 3vw;
    top: 9vh;
    width: 148px;
    height: 220px;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    display: block;
    color: #ffffff;
    transition: all 0.4s ease-in;
    letter-spacing: 2px;
}

.switchAcc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 95px;
    margin: 8px;
    
}

.ciaraAcc, .emileAcc{
    width: 40px;
    height: 40px;
    font-weight: 500px;
}

.accNameC{
    position: absolute;
    top: 19px;
    left: 60px;
    cursor: pointer;
}

.accNameP{
    position: absolute;
    top: 67px;
    left: 60px;
    cursor: pointer;
}

.profileLinks{
    position: absolute;
    bottom: 15px;
    right: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-weight: 500px;
}

.pLinks a{
    color: #ffffff;
    text-decoration: none;
}

.pLinks:hover, .accNameC:hover, .accNameP:hover{
    text-decoration: underline;
}

.profileLinks .pLinks:hover{
    color: #ffffff;
}

.picture:hover + .profileTab{
    visibility: visible;
    opacity: 1; 
}

.profileTab:hover{
    visibility: visible;
    opacity: 1;
}

.mobile-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: green;
    z-index: 999999999999999;
}

.mobile-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.mobile-nav ul li{
    font-size: 2em;
    color: #ffffff;
}

@media (max-width: 750px){
    .header ul{
        display: none;
    }
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.linear-gradient{
    width: 100vw;
    height: 160vh;
    background-image: linear-gradient(to bottom,  rgba(47, 67, 83, 0.2), rgba(40, 49, 59, 1));
    z-index: 99999999999999;
}

@media (max-width: 1305px){
    .linear-gradient{
        height: 180vh;
    }
}

.img-container{
    position: fixed;
    width: 100%;
    height: 105%;
    top: 0;
    background-image:  url('../images/captainMarvelWallpaper.jpg');
    background-position: center;
    background-size: 100% 100%;
    z-index: -1;
}

.image-logo{
    position: absolute;
    width: 40vw;
    height: 35vh;
    top: 29vh;
    left: 4vw;
}

.btn-container{
    position: absolute;
    width: 34vw;
    height: 10vh;
    top: 74vh;
    left: 7vw;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 130px;
    height: 55px;
    font-size: 1.2em;
    border: 1px black solid;
    border-radius: 3px;
    letter-spacing: 1px;
    font-weight: 500;
}

.btn:nth-child(2){
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px white solid;
}

.altBtn{
    width: 55px;
    height: 55px;
    font-size: 1.2em;
    border-radius: 50%;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.btn:focus, .altBtn:focus{
    outline: none;
}

.btn:active, .altBtn:active{
    transform: scale(0.98);
}

.socialSection{
    position: absolute;
    top: 220px;
    right: -400px;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: rgba(47, 67, 83, 0.9);
    transition: 0.4s ease-out;
}

.socialSection.slide{
    right: 10px;
}

.socialBanner{
    width: 100%;
    background-color: #28313B;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: #485461 2px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.socialBanner h1{
    font-size: 16px;
    color: green;
    
}

.socialBanner i{
    font-size: 10px;
}

.socialBanner p{
    font-size: 10px;
    color: #808080;
}

.socialSection ul li{
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    margin-left: 10px;
}

.socialSection ul li:active{
    border: 1px solid #808080;
    border-radius: 3px;
}

.socialSection ul li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px 15px 0 0;
}

.filmContents{
    position: absolute;
    width: 40vw;
    height: 3vh;
    top: 84vh;
    left: 7vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.filmContents li{
    padding-left: 4px;
    list-style-type: none;
    font-size: 14px;
}

.filmContents li:nth-child(1){
    list-style: none;
    background: #9c9c9c;
    width: 40px;
    text-align: center;
    border-radius: 2px;
}

.description{
    position: absolute;
    width: 43vw;
    
    top: 92vh;
    left: 7vw;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: clamp(0.6em, 1.4vw, 0.9em);
}

@media (max-width: 1250px){
    .btn-container{
        width: 44vw;
    }
}

@media (max-width: 940px){
    .btn-container{
        width: 54vw;
    }
}

@media (max-width: 740px){
    .btn{
        width: 100px;
        height: 40px;
        font-size: 0.8em;
    }

    .altBtn{
        width: 40px;
        height: 40px;
        font-size: 0.8em;
    }
}

@media (max-width: 525px){
    .btn{
        width: 80px;
        height: 35px;
        font-size: 0.7em;
    }

    .altBtn{
        width: 35px;
        height: 35px;
        font-size: 0.7em;
    }
    .btn-container{
        width: 62vw;
    }

    .filmContents li{
        font-size: 12px;
    }
}

@media (max-width: 860px){

    .description{
        width: 50vw;
    }
}

.Marvel{
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    z-index: 99999999;
    top: -100vh;
    object-fit: cover;
}

.fa-times{
    position: fixed;
    top: -100vh;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 9999999999;
    color: #ff0000;
}

.Marvel.show{
    top: 0;
}

.fa-times.show{
    top: 15px;
    right: 15px;
}

.related-container{
    position: absolute;
    width: 50vw;
    height: 45vh;
    left: 7vw;
    top: 115vh;
    display: flex;
    justify-content: space-between;
}

.related-container ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.related-container ul li{
    list-style: none;
    color: #d1d1d1;
    font-size: 1.5em;
    cursor: pointer;
}

#marker{
    left: 0;
    top: 40px;
    position: absolute;
    height: 4px;
    width: 130px;
    background: white;
    transition: 0.5s;
    border-radius: 4px;
}

@media (max-width: 665px) {
    .related-container ul li{
        font-size: 1em; 
    }

    #marker{
        bottom: 42vh;
    }
}

.info-container{
    position: absolute;
    width: 95%;
    height: 20%;
    bottom: -190px;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .swiper-container{
    width: 95%;
    height: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    margin: auto;
}

.swiper-content{
    width: 700%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
}

.swiper-slide{
    width: 400px;
    height: 100%;
    margin: 0 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.swiper-slide img{
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.slide{
    position: absolute;
    width: 40px;
    height: 80px;
    font-size: 2em;
    background-color: #30373a;
    border: none;
    color: #eeeeee;
}

.slide:focus{
    outline: none;
}

.slide.left{
    left: 0;
}

.slide.right{
    right: 0;
} */

.slider-container{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 95%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
  }
  
  .slider-container .similar-header{
    width: 98%;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #dddddd;
  }
  
  .fa-chevron-left, .fa-chevron-right{
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #9b9b9b;
    position: absolute;
    width: 25px;
    height: 30px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    border-radius: 3px;
    z-index: 9999999;
  }

  .fa-chevron-left{
      left: 0;
  }

  .fa-chevron-right{
      right: 0;
  }
  
  .fa-chevron-left:hover, .fa-chevron-right:hover{
    background: #5a5a5a;
    color: white;
  }
  
  section{
    width: 700%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
  }
  
  section::-webkit-scrollbar{
    display: none;
  }
  
  section .product{
    min-width: 24%;
    height: 90%;
    /* background: whitesmoke; */
    background: #f5ecdf;
    margin: 0 20px 0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    top: 0;
    transition: 0.5s;
  }

  ::-webkit-scrollbar {
    display: none;
}
  
  section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .details, .button{
    width: 90%;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: #444444;
  }
  
  small{
    color: #555555;
  }
  
  .button a{
    text-decoration: none;
    padding: 6px 14px;
    font-size: 15px;
    margin: 5px 0 0;
    display: inline-block;
    background: #6773ff;
    color: white;
  }
  
  p .fa-star{
    display: inline;
    width: 65%;
    font-size: 20px;
    color: #808080;
  }
  
  @media (max-width: 768px){
    .text h1{
        font-size: 35px;
    }
  
    .text p{
        width: 90%;
    }
  
    header h1{
        font-size: 25px;
    }
  
    header p span{
        font-size: 30px;
    }
  
    section .product{
        min-width: 49%;
        margin: 0 10px 0 0;
    }
  
    .details, .button{
        font-size: 16px;
    }
  
    a{
        padding: 6px 10px;
    }

    .socialSection{
        width: 150px;
    }

    .socialSection ul li{
        font-size: 10px;
        margin-left: 2px;
    }

    .socialBanner h1{
        font-size: 12px;
    }
  }





/* 


.slider-container{
    width: 95%;
    height: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    margin: auto;
}

.slider-container section{
    width: 700%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
}

.product{
    width: 400px;
    height: 100%;
    margin: 0 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.product img{
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.fa-chevron-left{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 2.5em;
    background-color: #30373a;
    border: none;
    color: #eeeeee;
}

.fa-chevron-right{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    font-size: 2.5em;
    background-color: #30373a;
    border: none;
    color: #eeeeee;
} */

.details-container{
    width: 95%;
    height: 95%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.details-description{
    min-width: 350px;
    max-width: 890px;
    height: 80%;
    color: white;
}

.details-header{
    font-size: 1.2em;
}

.details-des{
    font-size: clamp(0.7em, 1.5vw, 1em);
}

.other-details{
    min-width: 350px;
    max-width: 890px;
    height: 95%;
}

.other-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.film-info{
    list-style-type: none;
    color: white;
    font-size: clamp(0.7em, 1.5vw, 1em);
}

.film-info li:nth-child(odd){
    color: rgba(255, 255, 255, 0.6);
}

.actors{
    list-style-type: none;
    color: white;
    font-size: clamp(0.7em, 1.5vw, 1em);
}

.actors li:nth-child(1), .actors li:nth-child(3){
    color: rgba(255, 255, 255, 0.6);
}