@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(53, 53, 53);
    min-height: 200vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #9c9c9c;
    transition: 0.6s ease;
    padding: 10px 5%;
    z-index: 9999;
}

header.sticky{
    padding: 10px 5%;
    background: #cfcfcc;
}

header .logo{
    font-size: 2.2em;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 5%;
}

header ul li{
    list-style: none;
    position: relative;

}

header ul li a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.3s;
    color: yellow;
}

header ul li a:hover{
    color: #86c2f0;
}

header.sticky .logo,
header.sticky ul li a{
    color: #000000;
}

header ul .fas{
    padding: 0 23%;
    color: rgb(0, 255, 76);
}

@media (max-width: 1115px){
    header ul{
        width: 60%;
        padding-left: 4%;
    }
}

@media (max-width: 725px){
    header ul{
        width: 70%;
        padding-left: 2%;
    }

    header ul li a{
        text-decoration: none;
        letter-spacing: 2px;
        
        font-weight: 500px;
    }

    header{
        padding: 10px 2%;
    }
}

.search{
    position: relative;
    left: 20%;
    height: 35px;
}

.search .input{
    background-color: #86c2f0;
    border: 0;
    font-size: 1.2em;
    padding: 15px;
    height: 35px;
    width: 35px;
    transition: width 0.3s ease;
}

.btn{
    background-color: #eeeeee;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    transition: transform 0.3s ease;
}

.btn:focus, .input:focus{
    outline: none;
}

.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform: translateX(-35px);
}

.headingImages{
    position: relative;
    width: 90vw;
    display: flex;
    margin: auto;
    top: 15vh;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 5px;
    cursor: pointer;
    flex: 0.5;
    margin: 5px;
    position: relative;
    transition: 0.7s ease-in;
    
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color: magenta;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 725px){
    .panel:nth-of-type(8),.panel:nth-of-type(9),
    .panel:nth-of-type(10){
        display: none;
    }
}

@media (max-width: 480px){
    .headingImages{
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5),
    .panel:nth-of-type(6), .panel:nth-of-type(7){
        display: none;
    }
}

.card-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 20vh;
    transition: 0.3s ease;
}

.card{
    position: relative;
    width: 400px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #d41e31, #4918f8);
}

.card-container .card:hover{
    
    background: rgba(0, 0, 0, 0.3);
}

.card-container .card:hover{
    content: '';    
    border: 6px solid wheat;
}

.card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 250px;
    transition: 0.5s;
    z-index: 999;
}

.card:hover img{
    left: 80%;
    height: 310px;
}

/* .card:hover img{
    
    height: 310px;
} */

.card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .content{
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card .content h2{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.3em;
    line-height: 1em;
}

.card .content p{
    color: #ffffff;
    font-size: 0.8em;
}

.card .content a{
    position: relative;
    display: inline-block;
    color: #111111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 10%;
    text-decoration: none;
}

@media (max-width: 891px){
    .card-container{
        flex-wrap: wrap;
    }

    .card{
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
    }

    .card:hover{
        height: 200px;
    }
}