*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: burlywood;
    min-height: 200vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: chartreuse;
    transition: 0.6s ease;
}

header.sticky{
    padding: 5px 100px;
    background: coral;
}

header .logo{
    font-size: 2.2em;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 0 30px;
}

header ul li{
    list-style: none;
    position: relative;
}

header ul li a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header ul li a:hover{
    color: #ffffff;
}

header.sticky .logo,
header.sticky ul li a{
    color: #000000;
}



