*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#28313B, #485461, #2F4353);
    overflow: hidden;
}

@keyframes dissapear{
    100%{
        opacity: 0;
    }
}

.titleFirst{   
    font-size: 6em;
    letter-spacing: 15px;
    color: #1e6a80;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    padding-bottom: 10%;
    outline: none;
    text-decoration: none;
    animation-duration: 4.5s;
}

.title-container{
    position: absolute;
    left: 6px;
    top: 25vh;
    animation: down 1.5s ease 4s 1 normal forwards;
}

@keyframes down {
    100%{
        top: 32vh;
    }
}

a{
    text-decoration: none;
}

@media (max-width: 680px) {
    .title{
        top: 25vh;
        font-size: 5em;
    }
} 

.fa-compact-disc{
    font-size: 0.8em;
    position: relative;
    animation: spinDisc 2s ease 1s 1 normal forwards;
    opacity: 0;
}

@keyframes spinDisc {
    0% {
        transform: rotate(2160deg);
    }
    50% {
        opacity: 0.9;
    }
    51% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}

.slide{
    display: flex;
    justify-content: center;
    top: 39vh;
    font-size: 5em;
    color: rgb(255, 255, 255);
    position: absolute;
    animation: discEnter 2s ease-in 3s 1 normal forwards;
}

@keyframes discEnter {
    0% {
        opacity: 1;
    }

    50%{
        transform: translateY(147%);
    }

    100% {
        transform: translateY(800%);
    } 
}

.invisibleBox{
    position: absolute;
    background-image: linear-gradient(to bottom, #475360, #2e4353);
    /* background-color: linear-gradient(#475360, #2e4353); */
    width: 300px;
    height: 55vh;
    top: 48vh;
}

.profileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    top: 48vh;
    width: 55vw;
    height: 5px;
    background-color: rgb(105, 151, 182);
    position: absolute;
    border-radius: 0 0 20px 20px;
}

.profile{
    position: relative;
    object-fit: cover;
    background-color: #0d313b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: 80px;
    opacity: 0;
    animation: profilePics 2s ease 4s 1 normal forwards;
    border: 2px #dfdfdf solid;
} 

.profile:hover{
    transform: scale(1.03);
    transition: all 0.3s;
}

@keyframes profilePics {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        cursor: pointer;
    }
}

.profile a{
    height: 100%;
}

.profile img{
    border-radius: 50%;
    object-fit: cover;
}

.profile img:hover{
    opacity: 0.5;
}

@media (max-width: 1360px){

    .profile{
        min-width: 90px;
        max-width: 90px;
        min-height: 90px;
        max-height: 90px;
    }
}

@media (max-width: 640px){

    .titleFirst{
        font-size: 3.3em;
    }
}